<h1><%= @user.username %></h1>

<h2>Secrets</h2>
  <%= link_to "New Secret", new_secret_url(@user) %>

<ul>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>


<h3>Friends</h3>
<% @user.friends.each do |friend| %>
  <%= link_to friend.username, user_url(friend) %>
  <br>
<% end %>

<br>
<%= link_to "User index", users_url %>
