<h1><%= @user.username %></h1>

<h2>Secrets</h2>
  <%= render partial: "secrets/form" %>

  <script>
    $(document).ready(function() {
      $(".secret_form").on("submit", function(event) {
        console.log(this);
        event.preventDefault();

        var $form = $(this);
        var formData = $form.serialize();
        var action = $form.attr("action");

        $.ajax({
          url: action,
          type: "post",
          dataType: "html",
          data: formData,
          success: function(resp) {
            // console.log(resp)
            $form[0].reset();
            $(".user_secrets").append(resp);
          },
        });

      });
    });
  </script>
<ul class="user_secrets">

  <%= render @user.received_secrets %>

</ul>


<h3>Friends</h3>
<% @user.friends.each do |friend| %>
  <%= link_to friend.username, user_url(friend) %>
  <br>
<% end %>

<br>
<%= link_to "User index", users_url %>
